/ChangeLog
/cl_build/
/fa_build/
/fwnull_build/
/boost_1_46_1.tar.bz2
/boost_1_46_1/
/gcc-4.7.2/
/gcc-4.7.2.tar.bz2
/gcc-build/
/gcc-install/
/gcc-src
/gcc-src-svn
/invader-1_1/
/invader.zip
/sl_build/
tags
.*.swp
*-bare-gcc.err
*-predator.err
cscope.out
