.DS_Store
/ChangeLog
/cl_build/
/fwnull_build/
/boost_1_56_0.tar.bz2
/boost_1_56_0/
/gcc-[4-7].[0-9].[0-9]/
/gcc-[4-7].[0-9].[0-9].tar.bz2
/gcc-[4-7].[0-9].[0-9].tar.xz
/gcc-build/
/gcc-install/
/gcc-src
/gcc-src-svn
/invader-1_1/
/invader.zip
/passes-src/
/sl_build/
tags
.*.swp
*-bare-gcc.err
*-predator.err
cscope.out
