/ChangeLog
/cl_build/
/fa_build/
/fwnull_build/
/boost_1_46_1.tar.bz2
/boost_1_46_1/
/gcc-4.[5-9].[0-9]/
/gcc-4.[5-9].[0-9].tar.bz2
/gcc-build/
/gcc-install/
/gcc-src
/gcc-src-svn
/invader-1_1/
/invader.zip
/passes-src/
/sl_build/
tags
.*.swp
*-bare-gcc.err
*-predator.err
cscope.out
/vra_build
