*.dot
*.svg
/Makefile
/test-0021.err*
/test-0106.err*
/test-0113.err*
/test-0165.err*
/test-0169.err*
/test-0206.err*
/test-0211.err*
/test-0213.err*
/test-0216.err*
/test-0301.err*
/test-0303.err*
/test-0419.err*
/test-0465.err*
/test-0468.err*
/test-0470.err*
/test-0472.err*
/test-0473.err*
/test-0506.err*
/test-0507.err*
/test-0519.err*
